.footer
    display: flex
    align-items: center
    align-content: center
    justify-content: center
    flex-direction: column
    margin-top: 200px
    width: 100%
    background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%)
    border-radius: 20px 20px 0 0
    gap: 50px
    padding: 25px
    &-address
        font-family: Work Sans
        font-size: 24px
        font-weight: 400
        line-height: 28.15px
        text-align: left
        color: rgba(255, 255, 255, 1)

    &-producer
        margin-top: 50px
        margin-bottom: 80px
        position: relative
        width: 90%
        display: flex
        align-items: center
        justify-content: center
        &-text
            font-family: Work Sans
            font-size: 24px
            font-weight: 400
            line-height: 28.15px
            text-align: left
            color: rgba(255, 255, 255, 1)
            &::after
                content: ''
                color: rgba(255, 255, 255, 1)
                border-bottom: 1px solid rgba(255, 255, 255, 1)
                width: 100%
                transform: translateX(-50%)
                position: absolute
                left: 50%
                top: -50px
